#main-container #h2-container {
    width: 100%;
    height: 200px;
    background-image: url(/assets/imgs/hamburguesa-menu-edit.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

#main-container #h2-container #h2-menu {
    color: #fff;
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    letter-spacing: 3px;
    text-shadow: 0px 0px 3px #000, 2px 2px 3px #000;
    line-height: 100px;
}

#main-container #div-nota {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#main-container #div-nota #p-nota {
    color: #fff;
}

/*? SECCIÓN DE MEDIA QUERYS */

@media (max-width: 426px) {
    #main-container #h2-container #h2-menu {
        line-height: 50px;
    }

    #main-container #div-nota #p-nota {
        width: 90%;
        text-align: center;
    }
}