#main-container {
    background-color: #000;
    display: flex;
    flex-direction: column;
}

#filling-box {
    background-color: #000;
    width: 100%;
    height: 70px;
}


#p-reserva {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000;
    font-size: 40px;
    text-align: center;
    height: 200px;
    letter-spacing: 3px;
    align-content: center;
    line-height: 100px;
    background-image: url(/assets/imgs/hamburguesa-menu-edit.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    text-shadow: 0px 0px 3px #000, 2px 2px 3px #000;
}

/*? SECCIÓN DE MEDIA QUERYS */

@media (max-width: 1024px) {
    
    #p-reserva {
        font-size: 30px;
        line-height: 40px;
        align-items: center;
    }
}

@media (max-width: 425px) {
    #p-reserva {
        font-size: 20px;
    }
}




