
.container-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: #000000a0;
    border-radius: 10px;
    margin-bottom: 20px;
}

.container-form .main-form {
    display: flex;
    width: 40%;
    flex-direction: column;
    gap: 10px;
    padding-top: 30px;
    margin-left: 30px;
}

.container-form .main-form .label-form {
    color: #fff;
    font-size: 25px;
}

.container-form .main-form .input-form {
    background-color: #000000;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}

.container-form .main-form .input-form:focus {
    outline: none;
    border-bottom: 1px solid #eb43b3;
}

.container-form .main-form input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); 
    cursor: pointer 
}

.container-form .main-form #form-button {
    border-radius: 5px;
    width: 100px;
    font-size: 20px;
    align-self: center;
    border: none;
    transition: all 200ms;
    margin: 20px 0px;
}

.container-form .main-form #form-button:hover {
    cursor: pointer;
    background-color: #eb43b3;
}

.container-form #form-img {
    height: 400px;
}

/*? SECCIÓN DE MEDIA QUERYS */

@media (max-width: 1024px) {
    
    .container-form {
        flex-direction: row;
    }

    .container-form #form-img {
        width: 40%;
        height: 40%;
    }
}

@media (max-width: 426px) {

    .container-form {
        flex-direction: column;
    }
    
    .container-form .main-form {
        width: 80%;
        margin-left: 0px;
    }

    .container-form #form-img {
        width: 80%;
        height: 80%;
        margin-top: 40px;
    }

}
